body{
	background: fff;
  margin: 0px;
}


.name {
    background: linear-gradient(45deg, rgb(32, 114, 214) 0%, rgb(78, 140, 213) 100%);
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    /*height: 2em;*/
    padding-left: 10px;
}

img{
	height: 60px;
}

/*****************************************************************************/
.heart{
  /*content*/
  width: 150px;
  height: 150px;
  margin: 0 auto;
  margin-top: 50vh;
  background: white;
}

.circle::after{
  /*square*/
  width: 90px;
  height: 90px;
  content:'';
  background: crimson;
  border-radius: 45px;
  position: absolute;
  margin: 44px 0px;
}

.circle::before{
  /*circle1*/
    width: 90px;
    height: 90px;    
    /*top: 100px;
    left: 40px;*/
    content:'';
    background: crimson;
    position: absolute;
    z-index: 1;
    margin: 0px 44px;
    border-radius: 45px;
}

.circle{
  /*circle2*/
  width:90px;
  height:90px;
  /*left: 80px;
  top: 64px;*/
  content:'';
  background: crimson;
  position: absolute;
  margin: 35px 0px 0px 30px;
  /*transform: rotate(45deg);*/
  transform: rotate(-135deg);
}

.halfMoon{
  background: transparent;
  height: 90px;
  width: 45px;
  position: absolute;
  border-radius: 76px 0px 0px 0px;
  margin: 82px 81px;
  transform: rotate(45deg);
}
.halfMoon::before{
  background: white;
  height: 90px;
  width: 45px;
  border-radius: 76px 0px 0px 0px;
  content: '';
  position: absolute;
  margin: 45px -40px;
  transform: rotate(78.5deg);
}

.halfMoon::after{
  background: white;
  height: 90px;
  width: 45px;
  border-radius: 0px 0px 0px 76px;  
  content: '';
  margin: 3px 7px;
  position: absolute;  
  transform: rotate(369deg);
}
